
body{
    height: 100%;
    width: 100%;
    background-color: rgb(222, 223, 160);
    transition : 0.3s;
}
.button {
    padding: 15px;
    width: 66px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    font-size: 27px;
    box-shadow: 3px 3px 3px #16161680;
}
.row{
    margin: 8px;
}
.row .input {
    width: 291px;
    height: 40px;
    font-size: 32px;
    margin: 0px;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #16161680;
}